body {
	font-family: 'open sans', sans-serif;
}
h1 {
	font-size: large;
}
p {
	font-size: normal;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: auto;
	height: 90px;
	display: block;
	background-color: #4a576f;	
	color: #ffffff;
}


nav ul {
	float: right;
	margin: 30px 40px;
}

nav li{
	display: inline;
	list-style: none;
}

nav a{
	text-decoration: none;
	padding: 10px;
	color: #eeeeee;
	font-size: large;
}

nav a:hover, #active{
	text-decoration: underline;
}

#logo {
	width: 150px;
	height: 110px;
	background-color: #6a253c;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left: 40px;
	display: inline;
	float: left;
	border: solid 5px #6a253c;
}

#logo img{
	display: block;
	margin: 0 auto;
}











