html {
	background-color: #222222;
}

body {
	background-color: #ffffff;
	width: 1366px;
	display: block;
	margin: 0 auto;
	font-family: 'open sans', sans-serif;
}
h1 {
	font-size: large;
}
p {
	font-size: normal;
}

nav {
	position: fixed;
	top: 0;
	width: 1366px;
	height: 90px;
	display: block;
	background-color: #4a576f;	
	color: #ffffff;
	z-index: 3;
}


nav ul {
	float: right;
	margin: 30px 40px;
}

nav li{
	display: inline;
	list-style: none;
}

nav a{
	text-decoration: none;
	padding: 10px;
	color: #eeeeee;
	font-size: large;
}

nav a:hover, #active{
	text-decoration: underline;
}

#logo {
	width: 150px;
	height: 110px;
	background-color: #6a253c;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left: 40px;
	display: inline;
	float: left;
	border: solid 5px #6a253c;
}

#logo img{
	display: block;
	margin: 0 auto;
}




/* gallery */

#images{
	background-color: red;
	width: 1366px;
	position: relative;
	top: 80px;
	margin: 0 auto;
	clear: both;
}

#images img{
	width: 25%;
	height: auto;	
	float: left;
	padding: 0;
	margin: 0;
}

#images:after{
    clear: both;
    content: "";
    display: block;
}





/* contact */

#contact-box {
	clear: both;
	width: 1366px;
	height: 350px;
	background-color: #4a576f;	
	color: #ffffff;
}


#contact{
	width: 40%;
	padding: 20px 20px;
	display: inline-block;
	clear: both;
} 


iframe {
	display: inline-block;
	float: right;
	margin: 20px;
}


iframe:after{
    clear: both;
    content: "";
    display: block;
}





