body{
	background-image: url(img/background.JPG);
	margin: 0;
	padding: 0;

}

nav {
	width: auto;
	display: block;
	height: 100px;
	text-align: center;
	background-color: #4a576f;
	
}

nav:after {
	content: '';
	display: block;
	clear: both;
}	

nav ul {
	float: right;
	line-height: 50px;
	margin: 0;
}

nav li{
	display: inline;
	list-style: none;
}

nav a{
	text-decoration: none;
	padding: 10px;
	font-family: sans-serif;
	color: #eeeeee;
}

nav a:hover{
	text-decoration: underline;
}

#logo {
	width: 150px;
	height: auto;
	background-color: #6a253c;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin: 0;
	display: inline;
	float: left;
	border: solid 5px #6a253c;


}

main {
	width: 1080px;
	height: 100%;
	margin: 0 auto;
	
}

#images{
	
	margin: 0 auto;
	clear: both;
}

#images  img{
	border-radius: 200px;
}

footer {
	width: 100%;
	display: block;
	height: 100px;
	position: fixed;
	bottom: 0;
	background-color: #4a576f;
	margin: 0;

}

#nav_box {
	width: 1080px;
	margin: 0 auto;
	position: relative;
}










